# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Подкаст Канадский Лось & Ко.
logo: "/assets/images/192x192.png"
email:
description: >- # this means to ignore newlines until "baseurl:"
  Подкаст Канадский Лось и компания - про жизнь в Канаде и IT
twitter_username: username
github_username: username
minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

footer:
  links:
    - label: "iTunes"
      icon: "fab fa-fw fa-apple"
      url: "https://podcasts.apple.com/podcast/id363311940"
    - label: "YouTube"
      icon: "fab fa-fw fa-youtube"
      url: "https://youtube.com/cndlos"
    - label: "Chat with us"
      icon: "fab fa-fw fa-telegram"
      url: "https://t.me/rcmpchat"
    - label: "Telegram Channel"
      icon: "fab fa-fw fa-telegram"
      url: "https://t.me/rcmp_podcast"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://x.com/cndlos"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/meirka/canadianmoose"
    - label: "RSS"
      icon: "fas fa-fw fa-rss"
      url: "https://feed.rcmp.cloud/"

atom_feed:
  hide: true
  path: "https://rcmp.me/rss/feed/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: false
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: false
